@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #6edefc;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
